# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @devanshah2 @pankajkumar @Taees-Eimouri1 @jingqiu @Rose-Kaur @nida-bandukwala @Laurel-Hu @AndychenIBM @jasmine-ibm @GlennLee-IBM
*       @devanshah2 @pankajkumaribm @taees-eimouri @JingqiuDu @Rose-Kaur @nida-bandukwala @laurel-hu @AndychenIBM @jsminem @GlennLee-IBM
