build
bin
*.idea
*.iml
lib/
vendor/
.bundle/
build/
out/
.idea
.gradle
.vscode
.classpath
.project
*.code-workspace
*.DS_Store
*.iml
*.class
*.ipr
*.iws
*.gemspec
Gemfile*
settings.gradle
gradle.properties
