build
bin
*.idea
*.iml
lib/
vendor/
.bundle/
build/
out/
.idea
.gradle
.vscode
*.code-workspace
*.DS_Store
*.iml
*.class
*.ipr
*.iws
#*.gem mv to ../logstash_docker/config
*.gemspec
Gemfile*
settings.gradle
gradle.properties
